$max-width  : 1344px;

/* Colors */
$firstColor     : rgb(235, 173, 60);
$firstColorAlt  : #b89706;
$secondColor    : rgb(175, 128, 62);
$secondColorAlt : #f0e0ad;
$thirdColor     : #59ABE3;
$thirdColorAlt  : #114458;
$accentColor    : #3c4c57;
$accentColorAlt : #1f4a67;
$darkColor      : #d37612;
$colorLight     : #ffffff;
$darkenColor    : #523e0a;
$deepPurple     : #f68787;

$bodyBg      	: rgb(252, 248, 241);
$textColor: #793C23;

$borderColor: #E3E3E3;

// NavVideo
$banner-height: 600px;
$slider-height: $banner-height;
$slider-height-small: 400px;
$slider-background-position: center center;
$width-social: 50px;
$heigth-social: 50px;
$primary-light-blue: #8db9ed;
$primary-line-color: #ccc;

/*GALLERY*/
$max-width-gallery-img: 180px;
$mim-height-gallery-img: 270px;
$max-height-gallery-img: 270px;

/*Media Query*/

$smaller-screen: 480px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$sub-large-screen: 1024px !default;
$large-screen: 1200px !default;
$smaller-screen-up: 481px !default;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$sub-large-screen-up: 1025px !default;
$large-screen-up: 1201px !default;

$smaller-and-up: "only screen and (min-width : #{$smaller-screen-up})" !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$sub-extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$sub-large-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$smaller-and-down: "only screen and (max-width : #{$smaller-screen})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;

//LOGIN
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;
$main: #be3037;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);
$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
$gray-light: #a0b3b0;
$gray: #ddd;

/*button*/
$btn-slider-background-color :#343434;
$btn-slider-background-color-hoover : lighten(#343434,20%);
$btn-theme-background-color-hoover:lighten(#ebe71e,29%);
$btn-comment-background-color: #dde00f;
$btn-comment-border-color: #859002;
$btn-comment-border-color-hoover: #859002;
$btn-back: rgb(163, 40, 77);
$bck-btn-submit: #890023;
$btn-background-color: darken($btn-back, 2%);
$btn-border-color: rgb(240, 106, 106);
$btn-border-color-hover: #341221;
/*buttons para carrinho de compras*/
$btn-carrinho-back-hoover: lighten($btn-back,15%);
/*buttons para forms*/
$btn-forms-background-color: $btn-back;
$btn-forms-border-color: darken(#D90002,35%);
$btn-forms-background-color-hoover:lighten($btn-forms-border-color,12%);


