$b-radius: 30px;

.il-calendar--search {
  position: fixed;
  z-index: 2;
  top: 0;
  left: -100%;
  width: 1px;
  opacity: 0;
  padding: 0 0.45rem;
  background: #b2c4cc; //$back-content-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: $b-radius;
  transition: 450ms;
  & form.il-form--search {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.89rem;
    //color: rgb(182, 161, 161);
    height: $height-event-item;
    & input[type='search'] {
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0.35rem 0.15rem;
      color: rgb(58, 14, 14); //$li-background-plus;
    }

    & i {
      color: rgb(58, 14, 14);
      margin: auto 0.2rem;
      line-height: 40px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      transition: 450ms;
      &:hover {
        transition: 450ms;
        border: 1px solid $li-background;
        border-radius: 50%;
      }
    }
  }
  & .il-search--result {
    color: #111515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 450ms;
    padding-bottom: 0.45rem;
    &__row {
      display: flex;
      justify-content: space-between;
      padding: 0.2rem;
      transition: 450ms;
      margin: 0 2rem;
      &:hover {
        transition: 450ms;
        cursor: pointer;
        background: #9191a0;
      }
      & span {
        width: 100%;
        text-align: center;
        background: #527d86;
        &.il-no-result {
          text-align: center;
          color: #dbe0c2;
        }
      }
    }
    &.has-result {
      transition: 450ms;
      border-top: 1px solid grey;
      margin: 0.45rem 2rem;
    }
  }
  &.il-calendar--search__show {
    transition: 450ms;
    width: 300px;
    top: 35%;
    left: auto;
    @media #{$medium-and-up} {
      width: $width-search;
      top: 15%;
      left: $search-content-width/2;
    }
    opacity: 1;
  }
}